
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5>Candidates</h5>
    </div>

    <div class="col-md-6 mb-2">
      <a href="<%= new_resume_path %>" class="text-white">
        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal"><i class="mr-1 fas fa-plus"></i>Add Resume</button>
      </a>
    </div>
  </div>

    <div class="col-12 p-1">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Resume</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>1</td>
            <td><%= user.name %></td>
            <td>
		          <%= link_to user.resume.file_name, url_for(user.resume.file) %>
            </td>
            <td><%= user.email %></td>
            <td>
              <a href="<%= edit_user_path(user.id) %>">
                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
              </a>
              <a rel="nofollow" data-method="delete" href="<%=resume_url(user.resume.id)%>" class="text-white">
                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
              </a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
 $('#myModal').modal()
</script>